# [실습 순서]
1. 파일로부터 DataFrame 생성
1. Viewing Data
1. Cleaning Data
1. Finding Relationships (Correlation, Plotting)

# 1. 파일로부터 DataFrame 생성

## 1-1. CSV(Comma Seperated Value) 파일 : DataFrame = Pandas.**read_csv**(*filename*)

In [1]:
import pandas as pd

df = pd.read_csv('data.csv', 'r', encoding='UTF8')

C:\Users\User\AppData\Local\Temp\ipykernel_8096\2295792313.py:3: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv('data.csv', 'r', encoding='UTF8')

## 1-2. JSON 파일 :  : DataFrame = Pandas.**read_json**(*filename*)
* JSON 포맷은 파이썬의 Dictionary와 같은 구조로 파일이 없는 경우, dictionary에 저장하여 바로 loading 가능함

# 2. Viewing Data
  * **to_string()** : string으로 변환하여 전체 데이터 확인하기
  * **head**(*num_row*) : *num_row* = 5
  * **tail**(*num_row*) : *num_row* = 5
  * **info**() : null값 상황 확인
  * *pandas*.**options.display.max_rows** : 한번에 출력가능한 maximum row의 수

## 2-1. String으로 전체 데이터 확인해 보기 : *dataframe*.to_string()

* DataFrame의 전체 row를 출력하도록 설정 : *pandas*.**options.display.max_rows**

## 2-2. 시작 및 마지막 데이터 확인 : head, tail

## 2-3. 전체적 정보 및 null값 항목 확인 : info

## 2-4. 지정된 범위의 데이터 접근 : loc, iloc

#### [index label이 있는 경우]

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

# 2. Cleansing Data
  - Empty Cells
  - Data in wrong format
  - Wrong data
  - Duplicates

## 2-1. Cleaning Empty Cells (null, NaN)
  - Null값이 있는 row 삭제 : 
  - Empty Values를 새로운 값으로 채우기 : Mean, Median, Mode 등

### 2-1-1.  Null값이 있는 Row 삭제 : dropna
  * *dataframe*.**dropna**(axis, how, thresh, subset, inplace)
    - inplace = False
    - subset = *List* (지정 된 범위에 null이 있을 경우 Row 삭제)

### 2-1-2. 새로운 값으로 채우기 : fillna
* *dataframe*.**fillna**(**value**, method, axis, inplace, limit, downcast)
    * inplace = False
    * 특정 컬럼에 해당하는 값만 채우려는 경우 : DataFrame **[** *name* **]**.**fillna**(...)

* mean, median, mode 값으로 채우기
    - Mean - The average value
    - Median - The mid point value
    - Mode - The most common value -> index 0에 최빈값을 갖는 DataFrame 반환

## 2-2. Cleaning Wrong Format
* Correct Format으로 변환
* 해당 Row 삭제

#### Date Format 통일하기
* *pandas*.**to_datetime**(*dataframe*)

#### Date 값이 null인 Row 삭제

## 2-3. Cleaning Wrong Data
* small data : 눈으로 확인하고 수정하기
* 규칙을 정해서 수정하기
* 해당 row 삭제하기

#### 눈으로 확인 후 수정하기

#### 규칙을 정해서 수정하기

#### 해당 Row 삭제

## 2-4. Removing Duplicates
1. 중복값(duplicated values)확인 : *dataframe*.**duplicated**(subset, keep)
1. 중복값 삭제

# 3. Finding Relationship
## 3-1. Correlation
* *dataframe*.**corr**(method, min_periods)
  - Pefect, Good, Bad relationship

## 3-2. Plotting
* *DataFrame*.**plot**(kind=*type*, x=*x-value*, y=*y-value*)

* Scatter : Duration - Calories, Duration - Pulse, Duration - Maxpulse

* Histogram for 'Duration'